* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/736x/14/63/8d/14638d474a7e3039dae989d9262d7d4b.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: -1;
}


.app {
  width: 360px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
}

.search-box input::placeholder {
  color: #eee;
}

.search-box button {
  padding: 10px 16px;
  border-radius: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-weight: 600;
  color: #000;
}

.main-card {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.main-card h2 {
  font-size: 20px;
  opacity: 0.9;
}

.temp {
  font-size: 56px;
  font-weight: bold;
  margin: 10px 0;
}

.desc {
  font-size: 16px;
  opacity: 0.85;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 18px;
}

.info-card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  padding: 14px 10px;
  text-align: center;
}

.info-card span {
  display: block;
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 6px;
}

.info-card strong {
  font-size: 16px;
}
