*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: url("https://i.pinimg.com/1200x/72/c6/8f/72c68fcefbd1b4579677d58cf26ecf7c.jpg");
}

header{
    padding-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

header .title{
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
}

header .sub-title{
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.nav-list{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    cursor: pointer;
    
}

li a{
    position: relative;
    color: white;
    font-weight: 300;
    text-decoration: none;
}

gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 30px;
}
.image-card img{
    width: 40vh;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.image-card img:hover{
    transform: scale(1.05);
}

.image-description{
    text-align: center;
    margin-top: 8px;
    color: white;
}

